<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {{ posts }}
            <time>published: 29.01.2026, 19:08</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post on the Django Girls Blog!</p>
        {{ posts }}

        {{ posts }}
            <time>published: 29.01.2026, 19:09</time>
            <h2><a href="">My second post</a></h2>
            <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.</p>
        {{ posts }}
    </body>
</html>